:root{
    --azul:#1e3c5c;
    --preto: #000208;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
/*elementos base*/
body{
    background: var(--preto);
    font-family: 'Arial', Times, serif;
    color:white;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    margin-left: 30px;
    color: var(--azul);
    font-family: 'Arial black';
    font-size: 40px;
    text-shadow: black 0.1em 0.1em 0.2em
    
}


/*menus*/

.dp-menu ul {
    list-style-type: none;
    padding: 0;
    color:#AAA;
    text-decoration: none;
    background-color: black;
    margin-right: 50px;
     
}




.dp-menu ul li {
    display: inline;
    position: relative;
    
    
    
}

.dp-menu ul li a {
    color: #AAA;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    transition: background .3s;
    
}

.dp-menu ul li a:hover {
    background-color: gray;
    color: antiquewhite;
}

/*sub menu*/
.dp-menu ul ul {
    display: none;
    left: 0;
    position: absolute;
}

.dp-menu ul li:hover ul {
    display: block;
}

.dp-menu ul ul {
    width: 9.375;
}

.dp-menu ul ul li a {
    display: block;
}



/*filmes principal*/
.banner-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('../img/banner.png');
    
    height:550px;
    background-size:contain;
    background-repeat: no-repeat;
    
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 40px;
}

.banner-principal .descricao{
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 30px; 
    text-align: justify;
    line-height: 1.5;
    width: 40%;

}
    



.banner-principal .titulo{
    
    font-size: 35px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    margin-left: 30px;

}   

.banner-principal .autor{
    
    font-size: 20px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    margin-left: 340px;
    font-style: italic;
   
}


.botao{
    background-color: rgba(18, 17, 17, 0.5);
    border: none;
    color: white;
    border-radius: 10px;
    
    padding: 8px 25px;
    margin-right: 15px;
    font-size: 17px;
    cursor: pointer;
    transition: 1s ease all;
    border: solid 1px whitesmoke;
    margin-left: 50px;
}

.botao1{
    background-color: white;
    border: none;
    color: black;
    border-radius: 8px;
     
    padding: 8px 25px;
    margin-right: 15px;
    font-size: 17px;
    cursor: pointer;
    transition: 1s ease all;
    margin-left: 30px;
    
}

.botao1:hover{
    background-color: rgba(253, 253, 253, 0.6);
    color:rgb(160, 150, 150);
    
}
.botao:hover{
    background-color: whitesmoke;
    color:black;
}


.botao i{
    margin-right: 15px;
    font-size: 25px;
    
}

.botao1 i{
    margin-right: 15px;
    font-size: 25px;
    color: black;
}

.botao1 a {
    text-decoration: none;
    color: black;
    
        
}

.botao a{
    text-decoration: none;
    color: whitesmoke;
    
}
.botao:hover a{
    color: black;
}



.container{
    margin-left: 20px;
}

.sub-titulo-1 {
    margin-top: 60px;
    font-size: 20px;
    display : flex;
    flex-direction : row;
    margin-left: 50px;
    margin-bottom: 35px;
}
.sub-titulo-1 img{
    width: 30px;
    margin-right: 10px;
} 
 

.sub-titulo {
    margin-top: 60px;
    font-size: 20px;
    display : flex;
    flex-direction : row;
    margin-left: 50px;
    margin-bottom: 35px;
}
.sub-titulo img{
    width: 30px;
    margin-right: 10px;
} 
 
 /*.container{
    width: 70%;
}*/

.box-filme{
    height: 270px;
    width: 241px;
    display: block;
    cursor: pointer;
}

.carrosel-filmes{
    margin-top: 5px;
    
}

.final {
    margin: 20px;
    padding: 30px;
    text-align: center;
    
}
.final p{
    margin-bottom: 10px;
}


/*footer*/

textarea {
    resize: none;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  white-space: nowrap;
}



.svg-inline--fa {
  vertical-align: -0.200em;
}

.rounded-social-buttons {
  margin-bottom: 40px;  
  text-align: center;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.rounded-social-buttons .fa-github, .fa-facebook-f, .fa-linkedin, .fa-youtube, .fa-instagram {
  font-size: 25px;
}

.rounded-social-buttons .social-button.facebook {
  background: #3b5998;
}

.rounded-social-buttons .social-button.facebook:hover, .rounded-social-buttons .social-button.facebook:focus {
  color: #3b5998;
  background: #fefefe;
  border-color: #3b5998;
}

.rounded-social-buttons .social-button.github {
  background:black;
  border-color: #fefefe;
  
}

.rounded-social-buttons .social-button.github:hover, .rounded-social-buttons .social-button.github:focus {
  color: black;
  background: #fefefe;
  border-color: black;
}

.rounded-social-buttons .social-button.linkedin {
  background: #007bb5;
}

.rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
  color: #007bb5;
  background: #fefefe;
  border-color: #007bb5;
}

.rounded-social-buttons .social-button.youtube {
  background: #bb0000;
}

.rounded-social-buttons .social-button.youtube:hover, .rounded-social-buttons .social-button.youtube:focus {
  color: #bb0000;
  background: #fefefe;
  border-color: #bb0000;
}

.rounded-social-buttons .social-button.instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);  

}

.rounded-social-buttons .social-button.instagram:hover, .rounded-social-buttons .social-button.instagram:focus {
  color: #d6249f;  
  background: #fefefe;
  border-color: #d6249f;
}
    
