
@media screen and (max-width: 300px){

    header .logo{
        margin-right: 200px;
        margin-top: 10px;
        font-size: 15px;
        margin-bottom: 5px;
    }

    .dp-menu ul {
        margin-top: 0px;
       padding: 0px;
       margin: 0;
       
    }

    .dp-menu ul li{
        font-size: 10px;
        margin-bottom: 0;
        
   }   
    
    .banner-principal{
        height:200px;
        margin-left: 0;
        padding-left: 0px;
    }
    
    .banner-principal .descricao{
        line-height: 1.5;
        width: 85%;
        font-size: 10px;
        margin-bottom: 20px;
        
       
    }

    .banner-principal .titulo{
        margin-top: 300px;
        font-size: 15px;
        margin-right: 40px;
        text-align: center;
    }   
    
    .banner-principal .autor{
        font-size: 10px;
        margin-left: 200px;
    }

    .botao{           
        font-size: 10px;
        width: 180px;
        margin-left: 30px;
        margin-top: 5px;
     }
    
    .botao1{        
        font-size: 10px;
        width: 180px;
        margin-left: 30px;
        margin-top: 5px;
    }
    
    .botao i{
        margin-right: 5px;
        font-size: 15px;
    }
    
    .botao1 i{
        margin-right: 5px;
        font-size: 15px;
    }
    
    .sub-titulo-1{
        margin-top: 240px;
        font-size: 10px;
        margin-left: 30px;
        margin-bottom: 20px;
        
    }
    .sub-titulo-1 img{
        width: 20px;
              
    } 
    
    .sub-titulo {
        margin-top: 20px;
        font-size: 10px;
        margin-left: 30px;
        margin-bottom: 20px;
        
    }
    .sub-titulo img{
        width: 20px;
            
    } 
    
    .container{
        margin-left: 0px;
    }
    
    .box-filme{
        height: 170px;
        width: 241px;
     }
    
    .carrosel-filmes{
        margin-top: 0px;
        
    }
    
    .final {
        margin-left: 50px;
        
        padding-left: 0;
        margin-top: 5px;
        text-align: center;
        font-size: 10px;
        
    }
    .final p{
        margin-bottom: 5px;
    }
    .text {
        font-size: 10px;
    }

    .rounded-social-buttons {
        margin-bottom: 40px;  
        text-align: center;
      }
      
      .rounded-social-buttons .social-button {
        width: 2.5rem;
        height: 2.5rem;
        line-height: 2.4rem;
       }
      
}
@media screen and (max-width: 700px) {
   
    header .container{
        display: flex;
        flex-direction: column;
    }
    
       
}

@media screen and (min-width: 1000px) {
    .descricao{
        width: 50%;
    }
}


