
@media screen and (max-width: 500px){

    header .logo{
        margin-right: 8.125rem;
        margin-top: 0.625rem;
        font-size: 1.563rem;
        margin-bottom: 0.313rem;
    }

    .dp-menu ul {
        margin-top: 0px;
       padding: 0px;
       margin: 0;
       
    }

    .dp-menu ul li{
        font-size: 0.938rem;
        margin-bottom: 0;
        margin-top: 0;
        
   }   
    
    .banner-principal{
        height: 12.5rem;
        margin-left: 0;
        padding-left: 0px;
    }
    
    .banner-principal .descricao{
        line-height: 1.5;
        width: 85%;
        font-size: 0.625rem;
        margin-bottom: 1.25rem;
        
       
    }

    .banner-principal .titulo{
        margin-top: 28.125rem;
        font-size: 0.938rem;
        text-align: center;
        margin-left: auto;    
        margin-right: auto;
    }   
    
    .banner-principal .autor{
        font-size: 0.625rem;
        text-align: center;
        
    }

    .botao{           
        font-size: 0.625rem;
        width: 11.25rem;
        margin-left: 30px;
        margin-top: 5px;
     }
    
    .botao1{        
        font-size: 10px;
        width: 180px;
        margin-left: 30px;
        margin-top: 5px;
    }
    
    .botao i{
        margin-right: 5px;
        font-size: 15px;
    }
    
    .botao1 i{
        margin-right: 5px;
        font-size: 15px;
    }
    
    .container{
        margin-left: 0px;
        text-align: center;
    }
  
    
    .final {
        margin-left: 30px;
        padding-left: 0;
        margin-top: 500px;
        text-align: center;
        font-size: 10px;
        
    }
    
    .text {
        font-size: 10px;
    }

    .rounded-social-buttons {
        margin-bottom: 40px;  
        text-align: center;
      }
      
      .rounded-social-buttons .social-button {
        width: 2.5rem;
        height: 2.5rem;
        line-height: 2.4rem;
       }
      
}

@media screen and (max-width: 700px) {
   
    header .container{
        display: flex;
        flex-direction: column;
    }
    
       
}

@media screen and (min-width: 1000px) {
    .descricao{
        width: 50%;
    }
}


